@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&family=Roboto:wght@100;300;400;500&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&display=swap');



.container{
    background: #9DBEB9;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    font-family: 'Oswald';
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #194350;
}

header h2{
    margin: 0.3em;
    font-size: 2em;
}

header h5{
    margin: 0em;
    font-size: 1.2em;
}

.containerForm{
    display: flex;
    justify-content: center;
    padding: 1.5em 0 1.5em 0;
    border-bottom: #19435036 solid;

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20em;
    color: #194350;
    margin: 0.5em;
    font-weight: 500;
}

.form button {
    margin-top: 0.5em;
    background: #C37B89;
    cursor: pointer;
    border: #c25c70 solid;
    color: white;
    height: 2em;
}

.form button:hover{
    background: #c25c70;
    border: #c25c70 solid;
}

.form input {
    border: #194350 solid 0.15em;
    outline: none;
    margin: 0.2em 0 0.7em 0 ;
    height: 1.5em;
}

.form input:hover{
    border: #c25c70  solid 0.15em;
}


.containerTable {
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    margin-top: 2em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-bottom: 2em;

  }

  .containerTable tbody tr{
    border: #194350 solid 0.1em;
    height: 2.5em;
    color: #194350 ;
  }

  .containerTable thead tr{
    background: #194350;
    color: white;
    border: #194350 solid 0.1em;
  }
  thead th:nth-child(1) {
    width: 20%;
  }
  thead th:nth-child(2) {
    width: 20%;
    height: auto;
  }
  thead th:nth-child(3) {
    width: 30%;
    height: auto;
  }
  thead th:nth-child(4) {
    width: 10%;
  }
  thead th:nth-child(5) {
    width: 10%;
  }
  thead th:nth-child(6) {
    width: 10%;
  }

  .containerFavoriteSection{
      text-align: center;
     
      color: #194350;
  }

  .containerFavoriteSection label {
      font-weight: bolder;
      font-size: 1.2em;
      margin-right: 0.5em;
  }

  .buttonEdit, .buttonDelete{
      background: none;
      cursor: pointer;
      border: #194350 solid 0.1em;
      width: 2.4em;
      height: 2em;
  }

  .buttonDelete:hover, .buttonEdit:hover{
    background: #c25c70;
    color: white;
  }


